@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#title {
  font-family: Arial, Helvetica, sans-serif; 
  text-shadow: 2px 2px 5px rgba(17, 15, 15, 0.8); 
  font-size: 5rem; 
  margin: 200px;
  margin-bottom: 1rem;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  font-size: 1.3rem; 
  text-shadow: 2px 2px 5px rgba(17, 15, 15, 0.8); 
  color: white;
  margin-right: 10px;
}

input {
  font-size: 1rem; /* Larger font for inputs */
  padding: 1rem; /* Increased padding for inputs */
  border-radius: 8px;
  border: 2px solid white;
  background-color: #333;
  color: white;
  width: 100%; /* Make the input fields wider */
  max-width: 300px; /* Limit the maximum width */
  margin: 0 auto; /* Center inputs */
}

button {
  font-size: 1.2rem; /* Larger font for button */
  padding: 1rem 2rem; /* Larger button padding */
  border-radius: 8px;
  /* background-color: #ffdd57; */
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 200px; /* Limit the button width */
  margin: 0 auto;
}

button:hover {
  border-color: #ffdd57;
}

.error {
  color: red;
  font-size: 1.5rem; /* Make error messages larger */
}


.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000; 
  padding: 20px 0;
}

.navbar button {
  margin: 0 10px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
